.paket/
paket-files/
.vs/


[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
src/*/[Bb]in/
src/*/[Oo]bj/
src/*/Scratch/

.fake
.ionide
.idea/

node_modules/
js-build/
py-build/

*.DotSettings.user

consoles/Benchmark/BenchmarkDotNet.Artifacts

# emacs
.#*
\#*#
*~
/BenchmarkDotNet.Artifacts/
