source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0, net8.0

nuget Fable.Pyxpecto
nuget FSharp.Core ~> 8

nuget System.Memory

nuget FsToolkit.ErrorHandling >= 4

// for DiffSharp
nuget FSharp.Quotations.Evaluator


// for tests
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp

nuget Expecto ~> 10
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk

nuget Expecto.VisualStudio.TestAdapter
nuget coverlet.collector

nuget Expecto.FsCheck
nuget FsCheck
nuget FsCheck.NUnit
nuget NUnit3TestAdapter

nuget Fable.Mocha
nuget Fable.Core = 4.2.0
nuget Fable.Node

nuget DotNet.ReproducibleBuilds copy_local: true